.Joke {
  display: flex;
  border-bottom: 2px solid #eeeeee;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 1rem
}

.Joke-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-right: 1rem;
}

.Joke-text {
  width: 75%;
  font-size: 1.2rem
}

.Joke-votes {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  border: 3px solid red;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}

.fa-arrow-up, .fa-arrow-down {
  font-size: 1.5em;
  cursor: pointer;
  margin: 10px;
}

.fa-arrow-up:hover {
  animation-name: move-up;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  color: #8bc34a;
}

@keyframes move-up {
  0%,
  50%,
  100% {
    transform: translateY(0)
  }
  25%,
  75% {
    transform: translateY(-3px)
  }
}

.fa-arrow-down:hover {
  animation-name: move-down;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  color: #f44336;
}
@keyframes move-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(3px);
  }
}

.Joke-smiley {
  font-size: 1.5rem;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);
}